.details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  border: 1px solid #fff;
  border-radius: 8px;
  flex: 0 1 50%;
  padding: 8px;
  margin-top: 32px;

  .button {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--error-color);
    cursor: pointer;
    transition: border-color 0.25s;

    transition:
      box-shadow 0.25s,
      filter 0.25s ease,
      transform 0.05s;

    &:hover {
      box-shadow: 0 0 15px var(--box-shadow-color);
      filter: brightness(1.2);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
