.formItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid #bebebe;
  border-radius: 5px;
  padding: 8px;

  .text {
    display: flex;
  }

  .image {
    width: 200px;
    overflow: hidden;
    border-radius: 5px;
  }
}
