@use '../../styles/mixins' as *;

$card-least: 220px;
$gap: 16px;

.list {
  --card-height: clamp(14rem, calc((100dvh - 16rem) / 2), 24rem);
  --gap: #{$gap};

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max($card-least, (100% - 4 * var(--gap)) / 5), 1fr)
  );
  align-content: start;
  gap: var(--gap);
  transition: opacity 0.2s ease;

  &.refreshing {
    opacity: 0.5;
  }

  @media #{$phone} {
    --card-height: 4.5rem;
    --gap: 8px;

    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  }
}

.fit {
  @media #{$not-phone} {
    --card-height: auto;
    --rows: 5;

    height: calc(100dvh - var(--content-top) - var(--bar-space));
    min-height: 18rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(var(--rows), minmax(0, 1fr));

    @media (min-height: 898px) {
      @container (width >= 640px) {
        --rows: 4;

        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }

    @media (min-height: 728px) {
      @container (width >= 1000px) {
        --rows: 3;

        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }

    @container (width >= #{5 * $card-least + 4 * $gap}) {
      --rows: 2;

      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }
}

.placeholder {
  height: var(--card-height);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  opacity: 0.25;

  @include skeleton;
}

.message {
  padding: 2rem 0;
  font-size: 1.25rem;
  text-align: center;
}
