@use '../../styles/mixins' as *;

.flyout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 12px;

  @media #{$phone} {
    flex-wrap: nowrap;
    gap: 8px;
  }

  .count {
    font-weight: 500;
    white-space: nowrap;

    @media #{$phone} {
      margin-right: auto;
    }
  }
}
