.title {
  display: flex;
  justify-content: center;
}

.link {
  color: var(--primary);
  text-decoration: none;
  border: 1px solid var(--primary);
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:not(:first-child) {
    margin-left: 20px;
  }

  &:hover {
    opacity: 0.8;
  }
}
